@import url(http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

.displayinline > li > img{
  height:8%;
  width:8%;
}

.displayinline li{
  display:inline;
  margin:30px 20px;
}

.displayinline{
  margin-bottom: 20px;
  margin-top: 15px;
}

#container > form > div{
  margin:30px 20px;
}