@import url(http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

#logo{
	margin: 5px;
	padding: 5px;
	float:left;
	width:15%;
}

#body{
	width:65%;
	margin:auto;
}

body{
	background-image:url(background.png);
}
header{
	display:block;
	width:100%;
}

header>p{
	margin-left: 25%;
	font-size: 100px;
	font-family: cursive;	
}


#small-profile{
	width:10%;
	height:10%;
}


.body_info{
	min-height: 1050px;
}

.footer{
	height:200px;
	background-color: gray;
	width:100%;
}

#home_page{
	font-size: 40px;
	font-family: cursive;
	margin-left: 5%;
	color: white;
}
#about_us{
	font-size:25px;
	font-family: cursive;
	margin-left: 10%;
	color:white;
}

footer{
	display:block;
}


#profile_pic{
	width:75%;
	height:75%;
	margin-left:15%;
	margin-top: 20%;

}

#Person_name {
	font-size:25px;
	font-family:serif;
	margin-top: 8%;
	margin-left: 15%;
	border-bottom: solid;
	border-width:2px;
}

.button1{
	width:80px;
	height:30px;
	border:3px;
	background-color: white;
	margin-top: 10%;
	margin-left: 15%;
}

#profile_left{

}

.pro_left{
	background-color: black;
	margin-left:3%;
	margin-top: 8%;
	height:75px;
	width:225px;
}

.follow{
	padding-left:10px;
	padding-top:5px;
}

#followers{
	color:white;
	padding-top:15px;
	font-size:20px;
}
#followings{
	color:white;
	padding-top:15px;
	font-size:20px;	
}

#blog{
	padding-top:20px;
	padding-left:10px;
	color:white;
	font-size:15px;
}

.addition{
	margin-top: 10px;
}


.pro_right{
	height:950px;
	margin-left: 5%;
	margin-top: 8%;
	border-color: black;
	border-style:solid;
	border-width:2px;
}

.follow_right{
	font-size:15px;
	font-family:cursive;
	padding-left: 10px;
	padding-top: 20px;
}


.modal-content{
	height:550px;
	width:700px;
	background-color: white;
	position:fixed;
	margin-top:3%;
}

.modal-header{
	height:15%;
	width:100%;
	background-color: black;
}

.step{
	background:rgba(0,0,0,0.5);
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
}

.step2{
	background:rgba(0,0,0,0.5);	
}
.tab{
	margin-left: 5px;
	margin-top:2%;
	margin-right:5px;
}

.step_text{
	color:white;
}

.modal-title{
	color:white;
	font-family: cursive;
	margin-left: 10px;
	font-size:35px;	
}

#inviter{
	width:15%;
	height:15%;
}

.main_inviter{
	margin-left:10%;
	margin-top:5%;
}

.plus{
	width:50px;
	height:50px;
	margin-right: 30px;
}

.other_inviterpic{
	width:10%;
	height:10%;
	margin-right: 20px;	
}

.other_inviter{
	margin-left:10%;
	margin-top:5%;
}

.other_inviter_name{
	margin-top: 3%;
}

.inviter_name{
	margin-top:3%;
}

#calendar{
	width:120%;
	height:120%;
	margin-top: 5%;
}

.simple_info >p{
	font-size:15px;
	font-family:cursive;
}

.personal_info{
	margin-left:10%;
	margin-top:5%;
}

.about_me{
	font-size:15px;
	border-color: gray;
	border-width: 1px;
	border-style: solid;
	margin-right:10px;
	margin-top:10px;
}