@import url(http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

.aboutBar > img{
  margin: auto;
  display:block;
}

.aboutBar{
  margin-top: 100px;
}

.aboutBar > p{
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  padding:20px 0px;
}

.aboutBar > a{
  position:relative;
  top:0px;
  left:550px;
}

.tabs >ul >li{
  list-style: none;
}

.label{
  color:black;
}

.value{
  color:black;
}
/*
.tabs >ul >li{
  display:inline;
  margin:30px 50px;
}

.tabs{
  width:100%;
}

*/

ul.tabs {
  list-style-type: none;
  width:60%;
  margin: auto;
  padding: 0;
}
ul.tabs li {
  border: none;
  border-bottom: none;
  float: left;
  margin: 0 1em 0 1em;
  padding: .25em .5em;
}

ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
 
ul.tabs li a span{
  color: gray;
  font-weight: bold;
  text-decoration: none;
  font-size:100%;
}

ul.tabs li.active {
  background: gray;
}

ul.tabs li.active a {
  color: white;
}

ul.tabs li.active a span{
  color: white;
}

.clr {
  clear: both;
}

article {
  border-top: gray solid 1px;
  padding: 0em 1em;
  padding-top: 50px;
}

.tabs{
  padding-bottom: 10px;
}

#follower_count{
  padding-left: 40px;
}

#following_count{
 padding-left: 40px;
}

article > div{
  margin:50px 0px;
  padding:10px 10px;
  width:70%;
  margin:auto;
}

.profile_info{
  border:black dotted 2px;
  margin-bottom: 75px;
  min-height: 300px;
}

.profile_info > p{
  font-size:20px;
  font-family: cursive;
}

.profile_info > span{
  font-size:15px;
}

.profile_calender > img{
  width:75%;
  padding-left: 90px;
  padding-bottom: 20px;
}

.profile_calender >p{
  font-size:25px;
}

.profile_calender > span{
  font-size:25px;
}

.who{
  border-bottom: black solid 1px;
}

.place{
  border-bottom: black solid 1px;
}

.comment{
  padding-top: 10px 20px 10px 10px;
  border:black solid 1px;
  margin-bottom: 35px;
}

.people{
  border-right:black solid 5px;
}

.comment_type{
  padding-top: 10px 20px 10px 10px;
  border:black solid 1px;
  min-height: 150px;
}

.comment_typecontents{

  font-size:30px;
}

.comment_typecontents >p {
  margin-top:30px;
}

#contents{
  margin: 15px 20px;
  width:90%;
  background-color: white;
  font-size:25px;
  height:60px;
}