@import url(http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/*
International newsFeed
*/

#newsFeed_picLeft:hover,#newsFeed_picMiddle:hover,#newsFeed_picRight:hover{
    background-color: #50FCCE;
}

#dailyFeed_pic{
	width:75%;
	margin-left: 15%;
	margin-bottom: 5%;
}


.whats_new >p{
	font-size: 50px;
	text-align: center;
}


#newsFeed_picRight{
	height:auto;
}

.whats_new{
	margin-bottom: 5%;
}










